body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    width: 200px;
    padding: 8px 4px;
}

button {
    background-color: dodgerblue;
    color: white;
    padding: 8px;
}

h1, h2 {
    text-align: center;
}